{% extends 'main/layout.html' %}

{% block title %}Form for adding news{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1><i class="fas fa-code"></i>Form for adding news</h1> <!-- Move this to the top -->
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.intro }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Add Article</button>

    </form>
</div>
{% endblock %}